{% extends "@Seo/Default/layout.html.twig" %}
{% block nav %}
<div id="photo_content">
	{{ parent() }}
	{% endblock %}
{% block body %}
		<div class="container">
			<div class="row">
				{% for article in articles %}
				<div class="container_img col-lg-4">
					<div class="grid">
						<figure class="effect-sadie">
							<img src="{{ asset('uploads/img/' ~ ( article.medias.src )) }}">
							<figcaption>
								<h2>{{ article.titre }}</h2>
									<p>{{ article.date|date('m/d/y') }}  {#{{ article.contenu }}#}</p>
								<a href="#">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
